<form [formGroup]="courseForm" (ngSubmit)="saveCourseData()">
    <h2>{{pageTitle}}</h2>
  
    <div>
      <label for="title">Название:</label><br/>
      <input formControlName="title">
    </div>
  
    <div>
      <label for="description">Описание:</label><br/>
      <textarea formControlName="description"></textarea>
    </div>
  
    <div>
      <label for="shortDescription">Краткое описание:</label><br/>
      <textarea formControlName="shortDescription"></textarea>
    </div>
  
    <div>
      <label for="publicDescription">Публичное описание:</label><br/>
      <textarea formControlName="publicDescription"></textarea>
    </div>
  
    <div>
      <label for="photo">Фото:</label><br/>
      <input type="file" id="photo" name="photo" (change)="onFileChange($event)" >
    </div>
  
    <div>
      <label for="beginQuestionnaire">Анкета в начало:</label><br/>
      <input formControlName="beginQuestionnaire">
    </div>
  
    <div>
      <label for="endQuestionnaire">Анкета в конец:</label><br/>
      <input formControlName="endQuestionnaire">
    </div>
  
    <div>
      <button type="submit">Сохранить</button>
      <button type="button" routerLink="/">Назад</button>
    </div>
  </form>
  
  
  
