.mat-mdc-card {
    text-align: center;
    margin-top: 5%;
}

.mdc-button {
    margin: 2px;
}

button[mat-fab] {
    margin: 20px;
}
button[mat-raised-button] {
    margin: 10px 20px;
}

.mat-mdc-card-header {
    justify-content: center;
}
.mat-mdc-card-actions {
    justify-content: center;
}

.example-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #eee;
}

.mat-sidenav {
    width: 20%;
}

.sidenav-title {
    color: #7d2ba6;
    margin-top: 130px;
    margin-bottom: 40px;
}
