<mat-sidenav-container class="example-container">
  <mat-sidenav mode="side" opened>
    <div class="sidenav-title text-center">
      <h2>Управление курсом</h2>
    </div>

    <div class="text-center">
      <button mat-raised-button color="primary" type="button" 
          routerLink="/courses/messages/{{courseId}}"
          [queryParams]="{'courseTitle': courseTitle}">
        Сообщения
      </button>
    </div>
    <div *ngIf="isCoach" class="text-center">
      <button mat-raised-button color="primary" type="button" 
          routerLink="/courses/applies/{{courseId}}"
          [queryParams]="{'courseTitle': courseTitle}">
        Заявки
      </button>
    </div>
    <div *ngIf="isCoach" class="text-center">
      <button mat-raised-button color="primary" type="button" 
          routerLink="/courses/reports/{{courseId}}"
          [queryParams]="{'courseTitle': courseTitle}">
        Отчеты
      </button>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="container">
      <div class="page-title">
        <h1>{{courseTitle}}</h1>
        <h2>Уроки курса</h2>
      </div>
    
      <button mat-raised-button *ngIf="isCoach" color="primary" type="button" 
          routerLink="/lessons/{{courseId}}/form/0" 
          [queryParams]="{'maxNumber': maxLessonNumber}">
        Добавить
      </button>
      <button mat-raised-button type="button" routerLink="/courses/list">
        Назад
      </button>
    
      <div *ngIf="lessonList && lessonList.length > 0">
        <mat-card *ngFor="let item of lessonList">
          <mat-card-header>
            <div class="title-link">
              <button mat-button type="button" routerLink="/lessons/{{courseId}}/details/{{item.id}}">
                <h2>{{item.number}}. {{item.title}}</h2>
              </button>
            </div>
          </mat-card-header>
          <mat-card-actions *ngIf="isCoach">
            <button mat-fab color="primary" type="button" routerLink="/lessons/{{courseId}}/form/{{item.id}}">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-fab color="accent" type="button" (click)="onDeleteLesson(item.id)">
              <mat-icon>delete</mat-icon>
            </button>
          </mat-card-actions>
        </mat-card>
      </div>
    
      <div *ngIf="lessonList && lessonList.length == 0">
        <mat-card >
          <div class="title-link">
            <h2>Здесь пока нет уроков</h2>
          </div>
        </mat-card>
      </div>  
    </div>

    <div class="bottom-filler"></div>
  </mat-sidenav-content>
</mat-sidenav-container>


