<nav class="navbar navbar-expand-lg navbar-dark bg-primary py-3 nav_header">
    <a class="nav-link" routerLink="/">
        <span class="header-logo ms-5 me-2">
            <img src="logo.png" alt="no" />
        </span>
        <span class="text-white me-5 fs-5">Gymnastic School</span>
    </a>

    <div *ngIf="isUserAuthenticated" class="collapse navbar-collapse pb-1">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item me-3">
                <a class="btn text-white" [routerLink]="['/profile']" routerLinkActive="active" 
                        [routerLinkActiveOptions]="{exact: true}">
                    Profile
                </a>
            </li>

            @if (userRole == 'Admin') {
                <li class="nav-item">
                    <button class="btn text-white me-3" type="button" (click)="goToAdminPanel('/roles/list')">Roles</button>
                </li>
                <li class="nav-item">
                    <button class="btn text-white me-3" type="button" (click)="goToAdminPanel('/users/list')">Users</button>
                </li>
                <li class="nav-item">
                    <button class="btn text-white me-3" type="button" (click)="goToAdminPanel('/homelist/list')">Courses</button>
                </li>
            }

            <li class="nav-item">
                <a *ngIf="userRole != 'Admin'" class="btn text-white me-3" [routerLink]="['/courses/list']" routerLinkActive="active" 
                        [routerLinkActiveOptions]="{exact: true}">
                    Courses
                </a>
            </li>

            <!-- <li class="nav-item">
                <button class="btn text-white me-3" type="button" (click)="goToAdminPanel('/students/list')">Courses</button>
            </li> -->
            <li class="nav-item">
                <a *ngIf="userRole == 'Coach'" class="btn text-white me-3" [routerLink]="['/students/list']" routerLinkActive="active" 
                        [routerLinkActiveOptions]="{exact: true}">
                    Students
                </a>
            </li>
        </ul>
    </div>

    <span class="spacer"></span>

    <section>
        <button *ngIf="!isUserAuthenticated" class="btn text-white me-3" type="button" (click)="login()">Login</button>
        <button *ngIf="isUserAuthenticated" class="btn text-white me-3" type="button" (click)="logout()">Logout</button>
    </section>    
</nav>

