<h1>Курсы:</h1>

<button type="button" routerLink="/courses/form/0">Добавить</button>

@if (courseList && courseList.length > 0){
  <table>
    <thead>
      <tr>
        <th>Id</th>
        <th>Title</th>
        <th>Description</th>
        <th>Photo</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      @for (item of courseList; track $index) {
        <tr>
          <td>{{item.id}}</td>
          <td>
            <button type="button" routerLink="/lessons/{{item.id}}/list">{{item.title}}</button>
          </td>
          <td>{{item.description}}</td>
          <td>{{item.photoPath}}</td>
          <td>
            <button type="button" routerLink="/courses/form/{{item.id}}">Редактировать</button>
            <button type="button" (click)="onDeleteCourse(item.id)">Удалить</button>
          </td>
        </tr>
      }
    </tbody>
  </table>
}
