<div class="container">
  <div class="page-title">
    <h1>Курсы</h1>
  </div>

  <button mat-raised-button color="primary" type="button" routerLink="/courses/form/0">
    Добавить
  </button>

  <div *ngIf="courseList && courseList.length > 0">
    <mat-card *ngFor="let item of courseList">
      <mat-card-header>
          <div class="title-link">
            <button mat-button type="button" class="title-link" routerLink="/lessons/{{item.id}}/list">
              <h2>{{item.title}}</h2>
            </button>
          </div>
      </mat-card-header>
      <mat-card-content>
        <div class="card-text">{{item.description}}</div>
        <div class="card-photo">
          <img src="https://localhost:7125/uploads/Photo/{{item.photo?.uniqueFileName}}" alt="No Photo" />
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button mat-fab color="primary" type="button" routerLink="/courses/form/{{item.id}}">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-fab color="accent" type="button" (click)="onDeleteCourse(item.id)">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
  <div *ngIf="courseList && courseList.length == 0">
    <mat-card >
      <div class="title-link">
        <h2>Здесь пока нет курсов</h2>
      </div>
    </mat-card>
  </div>
</div>
