<div class="container">
    <div class="page-title">
        <h1>{{selectedCourse?.title}}</h1>
    </div>

    

    <div class="row">
        <div class="col-md-6 col-sm-12">
            <img src="https://localhost:7125/uploads/Photo/{{selectedCourse?.photo?.uniqueFileName}}" alt="No Photo" width="100%" />
        </div>
        <div class="col-md-6 col-sm-12 text-start">
            <p class="ms-4">{{selectedCourse?.publicDescription}}</p>
        </div>
    </div>

    <div class="mt-5">
        <button mat-raised-button color="primary" type="button" class="mx-3" (click)="sendQuestion()">Задать вопрос тренеру</button>
        <button *ngIf="userRole == 'Student'" mat-raised-button color="primary" type="button" class="mx-3" (click)="sendApply()">Подать заявку на курс</button>
    </div>

    <!-- Вопросы и ответы -->
    <div *ngIf="userRole == 'Student'" class="mt-3">
        <mat-slide-toggle color="primary" [(ngModel)]="showMessages" (change)="onToggleChange($event)"><h2 class="messages_header">Переписка с тренером</h2></mat-slide-toggle>
    </div>
    
    <div *ngIf="showMessages">
        <div class="row just_content mb-4">
            <div class="col-6 sender_name"><h2>Вопросы</h2></div>
            <div class="col-6 sender_name"><h2>Ответы</h2></div>
        </div>
        
        <div *ngIf="messageList && messageList.length > 0">
            <div class="row mb-4" *ngFor="let question of messageList">
                <div class="col-6">
                    <mat-card>
                        <mat-card-header>
                            <h4 class="sender_name">
                                {{question.senderName}}
                            </h4>
                        </mat-card-header>
                        <mat-card-content>
                            <div class="me-3">
                                {{question.text}}
                            </div>
                            <div class="text_right">
                                <button *ngIf="userRole == 'Student'" mat-mini-fab color="accent" type="button" (click)="onDeleteMessage(question.id)">
                                    <mat-icon>delete</mat-icon>
                                </button>
                            </div>
                        </mat-card-content>
                    </mat-card>
                </div>
    
                <div class="col-6">
                    <mat-card *ngFor="let answer of question.answers">
                        <mat-card-header>
                            <h4 class="sender_name">
                                {{answer.senderName}}
                            </h4>
                        </mat-card-header>
                        <mat-card-content>
                            <div class="me-3">
                                {{answer.text}}
                            </div>
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>
        </div>
    </div>
</div>
