<form [formGroup]="createCourseForm" (ngSubmit)="createCourse()">
  <h2>Добавить курс</h2>

  <div>
    <label for="title"></label>
    <input formControlName="title">
  </div>

  <div>
    <label for="description"></label>
    <input formControlName="description">
  </div>

  <div>
    <label for="shortDescription"></label>
    <input formControlName="shortDescription">
  </div>

  <div>
    <label for="publicDescription"></label>
    <input formControlName="publicDescription">
  </div>

  <div>
    <label for="photoPath"></label>
    <input formControlName="photoPath">
  </div>

  <div>
    <label for="beginQuestionnaire"></label>
    <input formControlName="beginQuestionnaire">
  </div>

  <div>
    <label for="endQuestionnaire"></label>
    <input formControlName="endQuestionnaire">
  </div>

  <div>
    <button type="submit">Сохранить</button>
  </div>
</form>

<h1>Курсы:</h1>

@if (courses$ | async; as courseListVm){
  @if(courseListVm.courses.length > 0) {
    <table>
      <thead>
        <tr>
          <th>Id</th>
          <th>Title</th>
          <th>Description</th>
          <th>Photo</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        @for (item of courseListVm.courses; track $index) {
          <tr>
            <td>{{item.id}}</td>
            <td>{{item.title}}</td>
            <td>{{item.description}}</td>
            <td>{{item.photoPath}}</td>
            <td>
              <button type="button" (click)="deleteCourse(item.id)">Удалить</button>
            </td>
          </tr>
        }
      </tbody>
    </table>
  }
}
