<div class="container">
    <div class="page-title">
        <h1>{{selectedLesson?.course?.title}}</h1>
        <h2>{{selectedLesson?.title}}</h2>
    </div>

    <p>Описание: {{selectedLesson?.description}}</p>
    <p>Ссылка на видео: {{selectedLesson?.videoLink}}</p>

    <div>
        <button mat-raised-button color="primary" type="button" *ngIf="isCoach" routerLink="/lessons/{{courseId}}/form/{{lessonId}}">Редактировать</button>
        <button mat-raised-button type="button" routerLink="/lessons/{{courseId}}/list">Назад</button>
    </div>
</div>