<div class="container">
    <div class="page-title">
        <h1>{{courseTitle}}</h1>
        <h2>{{subtitle}}</h2>
    </div>

    <div class="row just_content mb-4">
        <button mat-fab color="none" type="button" class="mb-3" class="mx-3" routerLink="/lessons/{{courseId}}/list">
            <div class="blue_undo">
                <mat-icon>undo</mat-icon>
            </div>
        </button>
    </div>

    <div class="row">
        <div class="col-12 text-center">
            <script src="https://forms.yandex.ru/_static/embed.js"></script>
            <iframe src="https://forms.yandex.ru/cloud/664a0a955056908bdc82ef64/?iframe=1" frameborder="0" name="ya-form-664a0a955056908bdc82ef64" width="650" height="2000"></iframe>
        </div>
    </div>
</div>
